header {
    color: blueviolet;
    text-align:center;
    font-size:48px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
}
nav {
    color: black;
    background-color: blueviolet;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 5px;
    text-align:left;
}

nav a:hover {
    background-color:lightgray;
}

nav a {
    text-decoration:none;
    border:1px solid;
    border-radius:5px 5px 0 0;
    margin-right:-5px;
    color:blueviolet;
    background-color:black;
    text-align:center;
    padding-right:8px;
    padding-left:8px;
}

.anythingYouWant {
    background-color: black;
    color: red;
    font-weight: bold;
}

